@import url("https://fonts.googleapis.com/css?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css?family=Exo+2&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  user-select: none;
}

::-webkit-scrollbar {
  display: none;
  width: 0;
  height: 0;
}

h2 {
  margin-top: 0;
  margin-bottom: 7px;
}

h2:first-child {
  margin-top: 15px;
}

.bold {
  font-weight: bold;
}

.mapContainer.blueBorder {
  border: 4px solid blue;
  margin: 6px;
}

.mapContainer.redBorder {
  border: 4px solid red;
  margin: 6px;
}

.mapContent.banned,
.mapContent.banned {
  background-color: rgba(0, 0, 0, 0.9);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.itemContainer.hide,
.hide {
  display: none;
}

.itemContainer {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.itemWrapper {
  margin-bottom: 1em;
}

input[type="text"],
input[type="number"] {
  width: 5cm;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid pink;
  font-size: 12pt;
  text-align: center;
  margin: 0 1em;
  margin-top: 20px;
}

footer {
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 5px;
}

input[type="button"] {
  outline: none;
  border: none;
  padding: 7px 12px;
  font-size: 14pt;
  min-width: 3cm;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 0.5em;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: #bbbbbb;
}

#resultWrapper {
  min-height: 100vh;
  background-color: green;
}

.resultContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Exo 2", sans-serif;
}

.mapContainer {
  width: 550px;
  height: 90px;
  background: no-repeat center center;
  background-size: cover;
  margin: 10px;
  font-size: 11pt;
  color: white;
  border-radius: 100px;
}

.mapContent {
  display: flex;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  border-radius: 100px;
}

.mapMetadata {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  cursor: pointer;
}

.mapDetailsContainer {
  display: flex;
  justify-content: center;
  align-content: center;
}

.mapDetails {
  margin: 0 9px;
}

.modImgContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: pointer;
}

.modImgWrapper {
  margin-right: 6px;
}

.banMap {
  min-width: 60px;
  height: auto;
  cursor: pointer;
}
