/* Form Styling */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="text"],
input[type="number"] {
  width: 5cm;
  padding-bottom: 5px;
  border: none;
  outline: none;
  border-bottom: 2px solid pink;
  font-size: 12pt;
  text-align: center;
  margin: 0 1em;
  margin-top: 20px;
}

input[type="button"] {
  outline: none;
  border: none;
  padding: 7px 12px;
  font-size: 14pt;
  min-width: 3cm;
  border-radius: 50px;
  cursor: pointer;
  margin: 0 0.5em;
}

input[type="button"]:hover,
input[type="button"]:focus {
  background-color: #bbbbbb;
}

.itemContainer.hide,
.hide {
  display: none;
}

.itemContainer {
  min-height: 90vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: "Raleway", sans-serif;
}

.itemWrapper {
  margin-bottom: 1em;
}
/*----------------------------------------*/
